*{
    font: 20pt arial;
}

body {
    background-color: rebeccapurple;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
}

section {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
